/**
 *
 * font-family all site
 *
 **/

body{
	font-family: 'Harmattan', sans-serif;
	font-size: 20px;
}

form button, .form button, a.btn {
    min-width: 265px;
    /*display: inherit;*/
}

/**
 *
 * font-family all elements
 *
 **/
.form-control
.breadcrumb>li,
.breadcrumb li a,
.nav-tabs,
.list-group-item,
.alert,
strong,
.table,
div[data-type="validator-error"]{
	font-size: 15px;
}

/**
 *
 * main container wrapper
 *
 **/
.container-fluid .row {
	width: 100%;
	height: 100%;
	position: absolute;
}

/**
 *
 * columns layout
 *
 **/
.column {
	overflow: hidden;
}

.columnleft {
	background-color: #F3F3F3;
}

/**
 *
 * Header layout
 *
 **/
.header {
	width: 100%;
	height: 90px;
	background: #f1f1f1;
	position: absolute;
	left: 0;
	padding: 15px;
	border-bottom: 1px solid #e0d7d7;
}

.header h1 {
	font-size: 75px;
	color:#265a88;
}

.header h1 a {
	color:#265a88;
}

.header h1 a:hover, .header h1 a:visited, .header h1 a:active, .header h1 a:focus {
	text-decoration: none;
	color:#265a88;
}

/**
 *
 * views layout
 *
 **/
.content {
	margin-top: 130px;
}

.view {
	/*text-align: center;*/
}

.view .form-control {
	width: 50%;
}

/**
 *
 * Form controls
 *
 **/
.form-control {
	height: 50px;
	font-size: 30px;
}

.form-control::-webkit-input-placeholder {
	font-size: 20px;
	font-family: inherit;
}
.form-control:-moz-placeholder {
	font-size: 20px;
	font-family: inherit;
}
.form-control::-moz-placeholder {
	font-size: 20px;
	font-family: inherit;
}
.form-control:-ms-input-placeholder {
	font-size: 20px;
	font-family: inherit;
}
.form-control:placeholder-shown {
	font-size: 20px;
	font-family: inherit;
}

/**
 *
 * Form validations
 *
 **/
form.ng-pristine .error {
	display: none;
}

form.ng-valid .error {
  opacity: 0;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
	-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s
}

form.ng-invalid .error {
  opacity: 1;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
	-webkit-animation-duration: 0.5s;
			animation-duration: 0.5s
}

form .error {
	color: #de1613;
}

form .error .glyphicon {
	font-size: 22px;
	top:5px;
}

/**
 *
 * mathbirthday calculate
 *
 **/
.signal {
    border: 5px solid #333;
    border-radius: 30px;
    height: 30px;
    opacity: 0;
    width: 30px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
}

.thinking {
	padding-left: 10px;
}




/*
	Shortcuts Css
	+ Don't add more Css below this, this is the end of the file
	+ No agregue mas Css debajo de estos, este es el final del archivo
*/
/* texts */
.text-left		{text-align     : left;}
.text-right		{text-align     : right;}
.text-center	{text-align     : center;}
.text-justify	{text-align     : justify;}
.text-top		{vertical-align : text-top;}
.text-middle	{vertical-align : middle;}
.text-bottom	{vertical-align : text-bottom;}
.text-none		{text-decoration: none;}
.underline		{text-decoration: underline;}
/* colors */
.white {color:#FFFFFF;}
.black {color:#000000;}
/* text transform */
.upper 	{text-transform : uppercase;}
.lower 	{text-transform : lowercase;}
.capita {text-transform : capitalize;}
.strike {text-decoration: line-through;}
/* fonts */
.italic 	{font-style : italic;}
.normal 	{font-style : normal ;}
.bold		{font-weight: bold;}
.line-small {line-height: 12px;}
/* font-sizes */
.font-giant {font-size:	16px;}
.font-big	{font-size:	14px;}
.font-normal{font-size:	12px;}
.font-small {font-size:	10px;}
.font-tiny 	{font-size:	8px;}
/* divs */
.left		{float      : left;}
.right  	{float      : right;}
.clear  	{clear      : both;}
.hide		{display    : none;}
.inline 	{display    : inline;}
.block  	{display    : block;}
.center 	{margin-left: auto;margin-right:auto;}
.absolute 	{position   : absolute;}
.relative 	{position   : relative;}
.invisible 	{visibility : hidden;}
.overflow 	{overflow   : hidden;}
/* mouse */
.pointer {cursor:pointer;}
/* verticals */
.vertical-bottom	{vertical-align: bottom;}
.vertical-top		{vertical-align: top;}
.vertical-middle	{vertical-align: middle;}
/* ul and li */
.list-none		{list-style-type    : none;}
.list-inside	{list-style-position: inside;}
.list-outside	{list-style-position: outside;}
/* reset */
.reset-padding 		{padding        : 0;}
.reset-margin  		{margin         : 0;}
.reset-text    		{font-style     : normal;font-size:12px;font-weight:normal;text-decoration: none;}
.decoration-none 	{text-decoration: none;}